@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#13131a;
    box-shadow: inset 0 0 5px transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#1c1c24 ;
    border-radius: 10px;
  }